</main>

<footer class="footer">
  <div class="footer__top">
    <p>Tecnologías utilizadas en este proyecto</p>
    <ul class="tech">
      <li class="tech__item"><span class="iconify" data-icon="teenyicons:nodejs-solid" data-inline="false"
          style="color: #666666;"></span></i></li>
      <li class="tech__item"><span class="iconify" data-icon="file-icons:ejs" data-inline="false"
          style="color: #666666;"></span></li>
      <li class="tech__item"><span class="iconify" data-icon="simple-icons:mongodb" data-inline="false"
          style="color: #666666;"></span></li>
    </ul>
  </div>
  <div class="footer__bottom">
    <p>&copy; 2021 | Manuel Flores</p>
  </div>
</footer>

<script src="/public/js/script.js"></script>
</body>

</html>