</main>

<footer class="footer">
  <div class="footer__top">
    some text
  </div>
  <div class="footer__bottom">
    <p>design &copy; 2021 Manuel Flores</p>
  </div>
</footer>

<script src="/public/js/script.js"></script>
</body>

</html>